*{
    margin: 0;
    padding:0;
    border: 0;
}
body{
    overflow-x: hidden;
    
}


/*estilo para que el row ocupe todo el ancho de la pantalla*/
.row{
    width: 100%;
    height: auto;
}

/*estilos para el logo de la empresa*/
.logoNav{
    position: relative;
    width: 280px;
    height: 80px;
    margin: 20px 30px ;
    top:25px;
    left: 55px;
    padding: 5px;
}
/*Estilos para el buscador */
#buscar{
    width: 80%;
    height: 35px;
    display:block;
    border: white 2px solid;
    border-radius: 10px;
    margin:30px auto;
    background-color: #FFFFFF;
    
}
/*estilos para que no aparescan los bordes en el buscador*/
.outlinenone {
    outline: none;
    border: 0;
    color: black;
    margin-left: 10px;
}
/*color de texto al escribir en el buscador*/
::placeholder{
    color: #000000;
    position: relative;
    padding-left: 15px;
}
/*estilos para la lupa del buscar*/
/*#search{
    width: 10px;
    height:auto;
    background: url(../Iconos/search.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding:5px 5px 5px 20px;
}*/

/*estilos de la barra de navegación*/
    /*estilos para que las opciones estén de color blanco*/
.nav-link{
    color: #FFFFFF !important;
    margin: 0px 10px;
}





/*Zona de practica para las opciones del menu*/

.dropdown-menu{
    width: 540px;
    height: 100px;
    position: relative;

    top: 60px;
    padding: 0;
}
.dropdown-menu>li{
    float: right;
    padding:0px;
	margin:0px;
}
   
.dropdown-item{
	
	width:auto;
   height: 98px;
   padding-top: 40px;
}
.dropdown-item:hover{
    background-color: #EBEBEB;
}

.navopciones{
    width: 828.2px;
    height: 100px;
   
    position: relative;
    top: 60px;
    padding: 0;
}


.navopciones2{
    width: 600px;
    height: 100px;
    position: relative;
    left: -500px;
    top: 60px;
    padding: 0;
}

#carouselExampleIndicators{
	position: absolute;
	width: 100%;
    height: 800px;
}



/*fin de las opciones del menu*/




.col-md-10{
    margin-left: 80px;
}

li > a:hover{
    text-decoration: underline;
}
.responsive{
    position: relative;
    margin: 40px 45%;
}
.bi-list{
    color: white;
}
.bi-search{
    color: #000000;
}
.bi-search:hover{
    color: #11C5D9;
}
/*ESTILOS PARA EL SECTION de bienvenidos*/

.bienvenido{
    width: 100%;
    height:auto;
    padding: 30px 40px 0px 40px;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-bottom: 0;

}
.divBien{
    display: inline-block;
    width: 95%;
    height: auto;
    padding: 0px 0px 0px 150px;
    margin-left: 80px;

}
.contenido{
    width: 100%;
    height: auto;
}
.marcoImg{
    width: 150px;
    height: 150px;
    border: #c6c7c8 2px solid;
    border-radius: 50%;
    
}
.icoBien{
    width: 98px;
    height: 98px;
    margin: 25px;
}
.separador{
    height: 220px;
    display: inline-flex;
    margin-top: 0px;
    margin-right: 100px;
}
.verMas{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.verMas:hover{
    color: #024059;
    text-decoration: underline;
}
/*estilos cursos*/
.sectionCurso{
    width: 100%;
    height: auto;
    background: url(../Imagenes/pexels-ken-tomita-389818.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}

.card{

    width: 40%;
    height: 250px;
    background: url(../Imagenes/martilloCursos.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 250px;

    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 100px auto;
    transition: all 0.25s;
    
}
.card p{
    width: 200px;
    font-size: 22px;
}
.texCard{
    position: relative;
    top: 10px;
    padding-left: 54px;
}
.sectionCurso .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
.vermasCursos{
    background-color: #c6c7c8;
    border-color: #FFFFFF;
    color: #FFFFFF;
    margin-top: 20px;
    position: sticky;
}
.vermasCursos:hover{
    background-color: #024059;
    color: #FFFFFF;
    
}
/*estilos para lo nuevo de la pag principal*/
.secLoNuevo{
    width: 95%;
    height: auto;
    margin:20px;
    padding: 20px;
}
.secLoNuevo h3{
    color: #024059;
    font-weight: bold;
}
.subnuevo{
    color: #024059;
}
.containerNuevo{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}
.cardNuevo{
    width: 380px; /*330px;*/
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    display: block;
    overflow: hidden;
    text-align: left;
    transition: all 0.25s;
    margin: 25px auto;

}
.containerNuevo .cardNuevo:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
.imgNew{
    width: 100%;
    height: 250px;
}
a{
    text-decoration: none;
}
.vermasNuevo{
    display: block;
    margin: 0px auto;
    background-color: #c6c7c8;
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.vermasNuevo:hover{
    background-color: #024059;
    color: #FFFFFF;
}
.DerPenal{
    color: #FFFFFF;
    background-color: #024059;
    margin: 0px;
    padding: 5px;
    padding-left: 10px
}
.nuevoLink{
    text-decoration: none;
    font-size: 23px;
    color: #024059;
    font-weight: bold;
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
}
.nuevoLink:hover{
    text-decoration: underline;
    color: #024059;
}


/*estilos para el footer*/
footer{
    
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: #f9f9f9;
    
}

.contenidoFooter{
    width: 100%;
    height: auto;
    padding-top: 17px;
}
.logofooter{
    width: 230px;
    height: auto;
    padding-bottom: 15px;
}
/*svg iconos*/
.divcontRed{
    padding-left: 50px;
}
.divsvg{
    margin: 5px 10px 10px 10px;
}
.asvg{
    margin-right: 15px;
    border-radius: 100%;
    background-color: #EBEBEB;
    width: 40px;
    height: 40px;
    text-align: center;

}
/*
#asvg:hover{
    background-color: #024059;
    
}

#facebookimg:hover{
    filter: brightness(0) invert(1);
}*/
